<ul>
  {% assign funding_by_start = funding | sort:"start" | reverse %}
  {% for it in funding_by_start %}
  <li>
    <p><strong>{{ it.grant }}, {{ it.institution }}</strong>, 
      {% if fundstyle contains "brief" %} Award value {{ it.value }} ({{ it.range }}){% else %}{{ it.range }}{% endif %}</p>
    {% if fundstyle contains "brief" %}{% else %}
    <p>{{ it.label }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
