<ul>
  {% assign funding_by_start = funding | sort:"start" | reverse %}
  {% for it in funding_by_start %}
  {% if it.start > 2010 %}
  <li>
    <p><strong>{{ it.grant }}, {{ it.institution }}</strong>{% if it.role != "" %}
      (<em>{{ it.role }}</em>){% endif %},
    {{ it.range }}</p>
    <p>{{ it.label }}</p>
    <p><em style="font-weight:400">Project Outputs</em></p>
    <ul>{% for out in it.outputs %}<li>{{ out.output }}</li>{% endfor %}</ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
