{% assign advbs = advising | where:"kind","BSc" | size %}
{% assign advms = advising | where:"kind","MSc" | size %}
{% assign advbso = advising | where:"kind","BSc" | where:"year","ongoing" | size %}
{% assign advmso = advising | where:"kind","MSc" | where:"year","ongoing" | size %}

<h3>Supervised Theses</h3>
<p>Since joining Charles University in 2022, I supervised {{ advbs }} Bachelor's theses ({{ advbs | minus: advbso }}&nbsp;defended) and
  {{ advms }} Master's theses ({{ advms | minus: advmso }}&nbsp;defended).
  At University of Kent, I&nbsp;supervised students for a range of final year projects including
  4 students in <em>Year in Computing Project (BSc)</em>,
  25+ students for <em>Group Project (BSc)</em> and 
  10 students for <em>Project and Dissertation (MSc)</em>.
  I also supervised 3 final-year <em>Part II dissertations</em> at University of Cambridge.
</p>

<ul class="condensed">
  {% assign advising_by_year = advising | sort:"year" | reverse %}
  {% for it in advising_by_year %}
  <li>
    <p><strong>{{ it.title }}</strong> ({% if it.year != "ongoing" %}defended {% endif %}{{ it.year }}), <em>{{ it.kind }} thesis</em>, 
      {{ it.student }}{% if it.institution != "" %}, {{ it.institution }}{% endif %}</p>
  </li>
  {% endfor %}
</ul>